---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/products(longDescription=sennheiser&search=headphones&search=white*)?apiKey=2be7f546v4k7f2zdcpgzsqv3&format=json&show=customerReviewAverage,sku,name,salePrice,shortDescription
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 0,
          "total": 0,
          "currentPage": 1,
          "totalPages": 0,
          "queryTime": "0.004",
          "totalTime": "0.005",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser\"&search=\"headphones\"&search=\"white*\")?show=customerReviewAverage,sku,name,salePrice,shortDescription&format=json&apiKey=2be7f546v4k7f2zdcpgzsqv3",
          "products": [

          ]
        }
  recorded_at: Tue, 08 Mar 2016 18:48:47 GMT
recorded_with: VCR 3.0.1
