---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/products(search=sennheiser)?apiKey=2be7f546v4k7f2zdcpgzsqv3&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "total": 165,
          "currentPage": 1,
          "totalPages": 17,
          "queryTime": "0.004",
          "totalTime": "0.061",
          "partial": false,
          "canonicalUrl": "/v1/products(search=\"sennheiser\")?format=json&apiKey=2be7f546v4k7f2zdcpgzsqv3",
          "products": [
            {
              "sku": 4763330,
              "productId": 1219816195002,
              "name": "Galaxy Audio - Headset Microphone - Beige",
              "source": "other",
              "type": "HardGood",
              "startDate": "2015-12-13",
              "new": false,
              "active": true,
              "lowPriceGuarantee": false,
              "activeUpdateDate": "2016-02-01T15:23:53",
              "regularPrice": 199.99,
              "salePrice": 199.99,
              "onSale": false,
              "planPrice": null,
              "priceWithPlan": [

              ],
              "priceRestriction": null,
              "priceUpdateDate": "2015-11-24T15:52:38",
              "digital": false,
              "preowned": false,
              "carrierPlans": [

              ],
              "technologyCode": null,
              "carrierModelNumber": null,
              "earlyTerminationFees": [

              ],
              "outletCenter": null,
              "secondaryMarket": null,
              "frequentlyPurchasedWith": [

              ],
              "accessories": [

              ],
              "relatedProducts": [

              ],
              "techSupportPlans": [

              ],
              "salesRankShortTerm": null,
              "salesRankMediumTerm": null,
              "salesRankLongTerm": null,
              "bestSellingRank": null,
              "url": "http://www.bestbuy.com/site/galaxy-audio-headset-microphone-beige/4763330.p?id=1219816195002&skuId=4763330",
              "spin360Url": null,
              "mobileUrl": "http://www.bestbuy.com/site/galaxy-audio-headset-microphone-beige/4763330.p?id=1219816195002&skuId=4763330",
              "affiliateUrl": null,
              "addToCartUrl": "http://www.bestbuy.com/site/olspage.jsp?id=pcmcat152200050035&type=category&cmp=RMX&ky=1wYKvAROq6Iy9hxMGtlZv1meM70TC4m3x&qvsids=4763330",
              "affiliateAddToCartUrl": null,
              "linkShareAffiliateUrl": "",
              "linkShareAffiliateAddToCartUrl": "",
              "upc": "691281802300",
              "productTemplate": "Microphones",
              "categoryPath": [
                {
                  "id": "cat00000",
                  "name": "Best Buy"
                },
                {
                  "id": "abcat0207000",
                  "name": "Musical Instruments"
                },
                {
                  "id": "pcmcat152100050035",
                  "name": "Microphones & Live Sound"
                },
                {
                  "id": "pcmcat251600050003",
                  "name": "Microphones & Accessories"
                },
                {
                  "id": "pcmcat152100050038",
                  "name": "Microphones"
                }
              ],
              "lists": [

              ],
              "customerReviewCount": null,
              "customerReviewAverage": null,
              "customerTopRated": false,
              "format": null,
              "freeShipping": true,
              "freeShippingEligible": true,
              "inStoreAvailability": true,
              "inStoreAvailabilityText": "Store Pickup:",
              "inStoreAvailabilityUpdateDate": "2016-02-01T15:23:53",
              "itemUpdateDate": "2016-02-22T14:40:08",
              "onlineAvailability": true,
              "onlineAvailabilityText": "Shipping: Usually ships in 2 business days",
              "onlineAvailabilityUpdateDate": "2016-02-22T14:40:08",
              "releaseDate": null,
              "shippingCost": 0.00,
              "shipping": [
                {
                  "ground": 0.00,
                  "secondDay": 13.99,
                  "nextDay": 22.99,
                  "vendorDelivery": ""
                }
              ],
              "shippingLevelsOfService": [
                {
                  "serviceLevelId": 1,
                  "serviceLevelName": "Standard",
                  "unitShippingPrice": 0.00
                },
                {
                  "serviceLevelId": 3,
                  "serviceLevelName": "Expedited",
                  "unitShippingPrice": 13.99
                },
                {
                  "serviceLevelId": 5,
                  "serviceLevelName": "Express",
                  "unitShippingPrice": 22.99
                }
              ],
              "specialOrder": false,
              "shortDescription": "GALAXY AUDIO Headset Microphone: Crafted for most wireless transmitters; can be used with a JIB/PB; works with most PC sound cards; flexible fit design",
              "class": "LIVE SOUND",
              "classId": 350,
              "subclass": "SO MICROPHONES",
              "subclassId": 1019,
              "department": "AUDIO",
              "departmentId": 1,
              "buybackPlans": [

              ],
              "protectionPlans": [

              ],
              "productFamilies": [

              ],
              "description": null,
              "manufacturer": "Galaxy Audio",
              "modelNumber": "MICHSDOBG",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/4763/4763330_sa.jpg",
              "largeFrontImage": "http://img.bbystatic.com/BestBuy_US/images/products/4763/4763330_sa.jpg",
              "mediumImage": "http://images.bestbuy.com/BestBuy_US/images/products/4763/4763330fp.gif",
              "thumbnailImage": "http://images.bestbuy.com/BestBuy_US/images/products/4763/4763330_s.gif",
              "largeImage": "http://images.bestbuy.com/BestBuy_US/images/products/4763/4763330_sb.jpg",
              "alternateViewsImage": null,
              "angleImage": null,
              "backViewImage": null,
              "energyGuideImage": null,
              "leftViewImage": null,
              "accessoriesImage": null,
              "remoteControlImage": null,
              "rightViewImage": null,
              "topViewImage": null,
              "condition": "New",
              "inStorePickup": true,
              "friendsAndFamilyPickup": false,
              "homeDelivery": false,
              "quantityLimit": 3,
              "fulfilledBy": "BestBuy.com",
              "bundledIn": [

              ],
              "color": "Beige",
              "depth": "10\"",
              "dollarSavings": 0.00,
              "percentSavings": "0.0",
              "tradeInValue": "",
              "height": "2\"",
              "orderable": "Available",
              "weight": "3 pounds",
              "shippingWeight": "3.0",
              "width": "4\"",
              "warrantyLabor": "3 years limited",
              "warrantyParts": "3 years limited",
              "longDescription": "This Galaxy Audio MICHSDOBG headset microphone features a versatile design that can be used with most wireless transmitters or plugged directly into a soundboard. The flexible construction fits on your ears and is adjustable, so you can find a comfortable fit.",
              "includedItemList": [
                {
                  "includedItem": "Headset Microphone"
                },
                {
                  "includedItem": "Windscreen"
                }
              ],
              "marketplace": false,
              "listingId": null,
              "sellerId": null,
              "shippingRestrictions": null
            },
            {
              "sku": 4763305,
              "productId": 1219816187440,
              "name": "Galaxy Audio - Headset Microphone - Black",
              "source": "other",
              "type": "HardGood",
              "startDate": "2015-12-13",
              "new": false,
              "active": true,
              "lowPriceGuarantee": false,
              "activeUpdateDate": "2016-02-01T15:15:26",
              "regularPrice": 199.99,
              "salePric[...]
