---
http_interactions:
- request:
    method: get
    uri: http://api.bestbuy.com/v1/products(longDescription=sennheiser*)?apiKey=2be7f546v4k7f2zdcpgzsqv3&format=json&show=customerReviewAverage,sku,name,salePrice,shortDescription
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "total": 131,
          "currentPage": 1,
          "totalPages": 14,
          "queryTime": "0.010",
          "totalTime": "0.034",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\")?show=customerReviewAverage,sku,name,salePrice,shortDescription&format=json&apiKey=2be7f546v4k7f2zdcpgzsqv3",
          "products": [
            {
              "customerReviewAverage": null,
              "sku": 9678429,
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "salePrice": 629.95,
              "shortDescription": "SENNHEISER Camera-Mount Wireless Microphone System: Invisible clip-on microphone; sturdy metal housing; automatic frequency management; easy-to-read illuminated display; 4-level battery indicator; 626-668MHz frequency range"
            },
            {
              "customerReviewAverage": null,
              "sku": 9678447,
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "salePrice": 629.95,
              "shortDescription": "SENNHEISER Ca[...]
